
body
 background-color : #000000

#header
 width : 800px
 overflow: hidden

.headercontent
 float: left

#header h1
 color : #ffffff
 margin : 2px
 background: -moz-linear-gradient(top,#BFE5F2, #63B3D2 50%,#0081B4 50%,#00679A)
 background: -webkit-gradient(linear, left top, left bottom, from(#BFE5F2), color-stop(0.5,#63B3D2), color-stop(0.5,#0081B4), to(#00679A))
 border: 1px solid #DDD
 width: 200px
 padding: 10px 0

#contents h1
 color : #ffffff